.banner {
  @apply w-full h-[50rem];
  @apply md:h-[25rem];
  @apply lg:h-[35rem];
  @apply xl:h-[43.5rem];
  @apply 2xl:h-[50.5rem];
}

.bannerImg {
  @apply h-[50rem];
  @apply md:h-[25rem];
  @apply lg:h-[35rem];
  @apply xl:h-[40.5rem] xl:w-full;
  @apply 2xl:h-[50.5rem];
}

.title {
  @apply absolute top-[20.5rem] right-[4rem] text-[12vw] leading-[10.5vw];
  color: #f8f9fa;
  font-family: 'Oswald', sans-serif;
  @apply md:text-[8vw] md:leading-[6.8vw] md:top-[7.6rem] md:right-[1.5rem];
  @apply xl:text-[7vw] xl:top-[7.6rem] xl:leading-[6vw] xl:right-[2.2rem];
  @apply 2xl:text-[6vw] 2xl:top-[10.5rem] 2xl:leading-[5.2vw] 2xl:right-[4.4rem];
}

.title span {
  @apply text-[11.9vw] right-[2%];
  position: inherit;
  @apply md:text-[7.9vw];
  @apply xl:text-[6.9vw];
  @apply 2xl:text-[5.9vw];
}

.slogan {
  @apply absolute top-[54rem] right-[3.8rem] text-[5vw] text-[#f8f9fa];
  font-family: 'Noto Serif Ahom', serif;
  @apply md:top-[16.5rem] md:text-[2.2vw] md:right-[9.5rem];
  @apply xl:text-[1.8vw] xl:top-[18.5rem] xl:right-[13.3rem];
  @apply 2xl:text-[1.5vw] 2xl:top-[20.5rem] 2xl:right-[15rem];
}

.saleWrapper {
  @apply absolute z-10 top-[44rem] right-[30%];
  @apply md:top-[28.5rem] md:right-[17rem];
  @apply xl:top-[31.5rem] xl:right-[24rem];
  @apply 2xl:top-[41rem] 2xl:right-[23rem];
}

.saleBtn {
  @apply w-[35vw] h-[10vw] outline-0 border border-black cursor-pointer relative;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  @apply md:w-[15vw] md:h-[4vw];
  @apply xl:w-[10vw] xl:h-[3vw];
}

.saleBtn:after {
  @apply bg-[#fffdfd] w-full absolute h-full top-[7px] left-[7px];
  content: '';
  z-index: -1;
  transition: 0.15s;
}

.saleBtn:hover:after {
  top: 0px;
  left: 0px;
}

.saleBtn p {
  @apply absolute top-[18%] left-[6%] text-[17px];
  @apply min-[320px]:text-[14px];
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  @apply md:text-[16px];
  @apply xl:text-[17px];
}

.productsWraper {
  @apply absolute z-10 top-[47.5rem] right-[19.8%];
  @apply md:top-[32.5rem] md:right-[13.8rem];
  @apply xl:top-[35.5rem] xl:right-[20.4rem];
  @apply 2xl:top-[45rem] 2xl:right-[19.2rem];
}

.productsBtn {
  @apply w-[45vw] h-[10vw] outline-0 border border-black cursor-pointer relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  @apply md:w-[20vw] md:h-[4vw];
  @apply xl:w-[14vw] xl:h-[3vw];
}

.productsBtn:after {
  @apply bg-[#fffdfd] w-full absolute h-full top-[7px] left-[7px];
  content: '';
  z-index: -1;
  transition: 0.15s;
}

.productsBtn:hover:after {
  top: 0px;
  left: 0px;
}

.productsBtn p {
  @apply absolute top-[18%] left-[5%] text-[17px];
  @apply min-[320px]:text-[14px];
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  @apply md:text-[16px];
  @apply xl:text-[17px];
}
