.products {
  @apply flex justify-center h-[52rem];
  @apply md:w-full md:h-[16rem];
  @apply 2xl:m-auto 2xl:w-10/12;
}
.mainDiv {
  @apply flex flex-col justify-between mt-10 pb-10;
  @apply md:flex-row md:w-[78%];
  @apply xl:w-[73%] xl:mt-0;
  @apply 2xl:mt-12 2xl:w-[78%];
}

.card_shoes {
  @apply flex flex-col items-center justify-center p-5 w-52 h-44 bg-gray-100;
  @apply md:w-[11.5rem] md:h-[11rem];
  @apply xl:w-[15rem] xl:h-[12rem];
}

.card_jerseys {
  @apply flex flex-col items-center justify-center p-5 w-52 h-44 bg-gray-100;
  @apply md:w-[11.5rem] md:h-[11rem];
  @apply xl:w-[15rem] xl:h-[12rem];
}

.card_tshirts {
  @apply flex flex-col items-center justify-center p-5 w-52 h-44 bg-gray-100;
  @apply md:w-[11.5rem] md:h-[11rem];
  @apply xl:w-[15rem] xl:h-[12rem];
}

.card_caps {
  @apply flex flex-col items-center justify-center p-5 w-52 h-44 bg-gray-100;
  @apply md:w-[11.5rem] md:h-[11rem];
  @apply xl:w-[15rem] xl:h-[12rem];
}
.betn {
  background-color: #3c3c3c;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #e5e7eb;
  display: flex;
  font-family: ui-sans-serif, system-ui, system-ui, 'Segoe UI', 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.6rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 400px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.betn:focus {
  outline: 0;
}

.betn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.betn:hover:after {
  bottom: 2px;
  left: 2px;
  transition: all 0.2s;
}

@media (min-width: 320px) {
  .betn {
    padding: 0.1rem 1.5rem;
    font-size: 0.7rem;
    margin-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .betn {
    padding: 0.2rem 2rem;
    font-size: 0.9rem;
  }
}

@media (min-width: 1440px) {
  .betn {
    padding: 0.3rem 2.2rem;
    font-size: 1rem;
  }
}
