.card {
  @apply h-[28rem] w-full border border-gray-300 shadow-md m-auto;
  @apply min-[375px]:w-full;
  @apply md:mt-3 md:w-full md:h-[20rem];
  @apply lg:h-[18rem] lg:w-[14rem];
  @apply xl:h-[20rem] xl:w-[95%];
}

.card_picture_shoes {
  @apply m-auto h-[40%] w-full;
  @apply md:w-full md:h-[40%];
  @apply lg:h-[40%];
}

/* title */

.card_title_shoes {
  @apply text-center text-base mt-12;
  @apply md:text-base md:mt-8;
  @apply lg:text-base lg:mt-3;
  @apply xl:text-base xl:mt-[2.1rem];
}

/* info */

.card_info_div_shoes {
  @apply mt-32 absolute flex flex-col justify-center items-center;
  @apply md:absolute md:mt-14;
  @apply lg:absolute lg:mt-1;
  @apply xl:absolute xl:mt-5;
}

.primary_button {
  @apply py-[8px] px-[18px] my-[20px] mx-0 text-[#000] text-[15px] cursor-pointer border border-black overflow-hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.primary_button:hover {
  @apply bg-[#000] text-[#fff];
}
