@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

a {
  @apply text-stone-800 hover:text-stone-900;
}

* {
  box-sizing: border-box;
}
.main-container {
  @apply m-auto w-full;
}

.primary_button {
  @apply w-full py-[8px] px-[18px] my-[20px] mx-0 text-[#000] text-[15px] cursor-pointer border border-black overflow-hidden;
  @apply md:py-[6px] md:px-[11px];
  @apply xl:py-[7px] xl:px-[16px];
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.primary_button:hover {
  @apply bg-[#000] text-[#fff];
}

.default-button {
  @apply rounded bg-gray-100 py-2 px-4 shadow outline-none hover:bg-gray-300 active:bg-amber-500;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}

.dropdown-link {
  @apply flex p-2 justify-center hover:bg-gray-100;
}

.dropdown-link:hover {
  border-radius: 5px;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-succes {
  @apply m-3 rounded-lg bg-green-100 p-3 text-green-700;
}

.footer-container {
  @apply flex flex-col justify-center items-center shadow-inner p-5 w-[100%];
  @apply 2xl:flex-row 2xl:p-10;
}

.follow-us {
  @apply flex flex-col justify-center items-center h-[6rem];
}

.flwtxt {
  @apply text-[2rem] font-bold;
}

.media-icons {
  @apply flex justify-between w-[90%];
}

.footer-links {
  @apply flex w-[35%] justify-center;
  @apply 2xl:ml-10 2xl:mr-10 2xl:justify-between;
}

.terms {
  @apply pr-5 border-r pl-5 border-black;
  @apply 2xl:pr-10 2xl:pl-0;
}

.privacy {
  @apply pr-5 border-r pl-5 border-black;
  @apply 2xl:pr-10 2xl:pl-0;
}

.cookie {
  @apply pr-5 pl-5;
  @apply 2xl:pr-10 2xl:border-r 2xl:border-black 2xl:pl-0;
}

/* New Products Page */
/* ------------------------ */

.new-title {
  @apply text-[1.8rem] font-['Poppins'] font-bold tracking-[-0.12rem] mt-10 ml-10 mr-10;
  @apply 2xl:text-[3rem];
}

.new-sentence {
  @apply text-[1rem] font-['Poppins'] tracking-[-0.05rem] border-b border-black ml-10 mr-10 mb-10;
  @apply 2xl:text-[1.1rem] 2xl:-mt-2;
}
